@model Pizza
@{
    ViewData["Title"] = "Dettaglio Pizza";
}

<div class="text-center container-xxl">

    <h1> @ViewData["Title"]</h1>

    <ul>
        <li>Id: @Model.Id</li>
        <li>Nome: @Model.Name</li>
        <li>Prezzo: @Model.Price.ToString("0.00")€</li>
        <li>Descrizione: @Model.Description</li>
    </ul>

</div>

